html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  max-width: 2400px;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 100svh;
}

* {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

svg {
  pointer-events: none;
}
